/* Estilos de Fuentes */

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Grown', serif; 
}

body { 
    font-family: 'Montserrat', sans-serif; 
}


/* Estilo para los enlaces de navegación */ 
.nav-link-custom { 
    background-color: transparent; 
    color: #007bff; 
    border: 2px solid transparent; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    padding: 5px 10px;
    border-radius: 5px; 
} 
    
.nav-link-custom:hover { 
    background-color: white; 
}
   



/* Titulo Grande y Subtitulos */

.titulo-principal {
    color: black; 
} 

.subtitulo { 
    color: black; 

}  

.fondo-personalizado { 
    background-color: whitesmoke; 
    padding: 50px 0; 
}


.card{
    background-color: #ffffff; /* Azul */
    border-radius: 10px;
    box-shadow: 0 0 20px #0de3ffc7;
    animation: glowing 2s infinite;
    
}

.card-title{
    text-align: center;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}



