/* Estilos de Fuentes */

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Grown', serif; 
    font-size: calc(1.5rem + 1vw); /* Ajuste dinámico del tamaño */
}

body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: calc(1rem + 0.5vw); /* Ajuste dinámico del tamaño */
}



/* Titulo Grande y Subtitulos */

.titulo-principal {
    color: black; 
} 

.subtitulo { 
    color: black; 

}  

.fondo-personalizado { 
    background-color: whitesmoke; 
    padding: 50px 0; 
}


/* Barra de navegación en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-custom {
        flex-direction: column; /* Pone los elementos en una columna */
        padding: 10px;
    }

    .navbar-custom .navbar-nav {
        flex-direction: column; /* Alineación vertical de los enlaces */
        width: 100%; /* Asegura que ocupe todo el espacio disponible */
        text-align: center; /* Centra los enlaces */
    }
}


