/* Estilos de Fuentes */

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Grown', serif; 
    font-size: calc(1.5rem + 1vw); /* Ajuste dinámico del tamaño */
}

body { 
    font-family: 'Montserrat', sans-serif; 
    font-size: calc(1rem + 0.5vw); /* Ajuste dinámico del tamaño */
}


/* Colores de Barra de Navegacion */

.navbar-custom {
    background-color: #F2CC0F; 
    color: black; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 60px; 
}

.navbar-custom .navbar-nav .nav-link {
    color: black; /* Color de los enlaces de navegación */
}

.letra-b, .letra-m { 
    font-size: 2rem; 
    color: #ff5733; 
    line-height: 60px;
}

.letra-b { 
    color: #F22E2E; 
    font-size: 3rem;
} 

.letra-m { 
    color: #F2E527;
    font-size: 3rem;
}

/* Estilo para el botón 'Entrar' */
.btn-entrar {
    background-color: #BF60A6; 
    color: white; 
    border: 2px solid white; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    z-index: 1; 
}

.btn-entrar:hover {
    background-color: white; 
    color: #BF60A6; 
    border-color: #BF60A6; 
}

/* Estilo para el botón 'Registrarse' */
.btn-registrarse {
    background-color: #BF60A6; 
    color: white; 
    border: 2px solid white; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    margin-left: 10px; 
    z-index: 1;
}

.btn-registrarse:hover {
    background-color: white;
    color: #BF60A6; 
    border-color: #BF60A6; 
}

/* Estilo para los enlaces de navegación */ 
.nav-link-custom { 
    background-color: transparent; 
    color: #007bff; 
    border: 2px solid transparent; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    padding: 5px 10px;
    border-radius: 5px; 
} 
    
.nav-link-custom:hover { 
    background-color: white; 
}
   

/* Aislar estilos de los botones */
.navbar-nav .nav-item .btn-entrar, .navbar-nav .nav-item .btn-registrarse {
    background-color: inherit !important; 
    color: inherit !important; 
    border-color: inherit !important; 
    transition: none !important; 
}

/* Titulo Grande y Subtitulos */

.titulo-principal {
    color: black; 
} 

.subtitulo { 
    color: black; 

}  

.fondo-personalizado { 
    background-color: whitesmoke; 
    padding: 50px 0; 
}

/*  Estilo Pie de Pag */

footer { 
    background-color: #BF60A6; 
    color: black; 
    padding: 20px 0; 
}

footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer a img {
  width: 24px;
  height: 24px;
}

/* Barra de navegación en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-custom {
        flex-direction: column; /* Pone los elementos en una columna */
        padding: 10px;
    }

    .navbar-custom .navbar-nav {
        flex-direction: column; /* Alineación vertical de los enlaces */
        width: 100%; /* Asegura que ocupe todo el espacio disponible */
        text-align: center; /* Centra los enlaces */
    }
}


